<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.draw4brains">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draw4Brains">
        <activity
            android:name=".games.connectthedots.view.GuessImageActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.connectthedots.view.StatisticsPageActivity"
            android:exported="true"
            android:label="Statistics" />
        <activity
            android:name=".main.view.UserHomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.AdminHomeActivity"
            android:exported="true"
            />
        <activity
            android:name=".main.view.ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.SelectGameActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.GameStatisticActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.AccountActivity"
            android:exported="true" />
        <activity
            android:name=".games.connectthedots.view.GameMenuActivity"
            android:exported="true" />
        <activity
            android:name=".games.connectthedots.view.EndGameActivity"
            android:exported="true" />
        <activity
            android:name=".games.connectthedots.view.ConnectDotsActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.ChooseAdminActivity"
            android:exported="true" />
        <activity
            android:name=".main.view.UsersListActivity"
            android:exported="true"
            android:parentActivityName=".main.view.AdminHomeActivity" />
    </application>

</manifest>